.btn {
  display: block;
  &__w-main {
    position: relative;
    width: 170px;
  }
  &__main {
    font-family: BigJohn;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    border: 4px solid $black;
    border-radius: 18px;
    position: relative;
    z-index: 30;
    padding: 0 30px;
    &__line {
      position: absolute;
      z-index: 10;
      background: $black;
      height: 5px;
    }

    &_yellow {
      background: $yellow-light;
      &:hover {
        background: $white;
      }
    }
    &_white {
      background: $white;
      &:hover {
        background: $yellow-light;
      }
    }
    &_disabled {
      background: $gray;
    }
  }

  &__social {

  }

  &__menu {
    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 320px) {
  .btn {
    &__main {
      &__line {
        height: 3px;
        width: 262px;
        &_top {
          top: 17px;
          left: -60px;
        }
        &_bottom {
          top: 27px;
          left: -32px;
        }
      }
    }
    &__menu {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .btn {
    &__menu {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    &__main {
      &__line {
        height: 5px;
        width: 297px;
        &_top {
          top: 17px;
          left: -83px;
        }
        &_bottom {
          top: 27px;
          left: -55px;
        }
      }
    }
    &__menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1440px) {
  .btn {
    &__menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1900px) {
  .btn {
    &__menu {
      display: none;
    }
  }
}