.c-menu {
  position: relative;
  &_header {
    background: $yellow;
  }

  &_footer {
    background: $blue-light;
  }
}

.menu {
  &_mobile {
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    background: $yellow;
    width: 100%;
    height: 100%;
    top: 44px;
    overflow: hidden;
    padding: 15px;
  }
  &_active {
    visibility: visible !important;
    opacity: 1 !important;

  }
  &_yellow {
    .menu__item {
      &:hover, &_active {
        .menu__link {
          color: $yellow;
        }
      }
    }
  }
  &_blue {
    .menu__item {
      &:hover, &_active {
        .menu__link {
          color: $blue-light;
        }
      }
    }
  }

  &__item {
    &:hover, &_active {
      .menu__link {
        background: $black;
        border-radius: 18px;
      }
    }
  }

  &__link {
    display: block;
    line-height: 50px;
    font-family: BigJohn;
    color: $black;
  }
}

.menu-icon-toggle, .menu-icon-toggle::before, .menu-icon-toggle::after {
  display: block;
  height: 4px;
  background: $black;
  transition: all .5s;
  backface-visibility: hidden;
}

.menu-icon-toggle {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -14px;
  width: 30px;
  &::before, &::after {
    position: absolute;
    content: "";
    width: 100%;
  }
  &::before {
    top: 9px;
  }
  &::after {
    top: -9px;
  }

  &_expanded {
    transform: rotate(45deg);

    &::before {
      transform: translateY(-6px) rotate(-90deg);
      top: 6px;
    }

    &::after {
      transform: translateY(6px) rotate(-90deg);
      top: -6px;
    }
  }

}

@media screen and (min-width: 320px) {
  .c-menu {
    display: flex;
    justify-content: flex-end;
    &_header {

    }
    &_footer {
      display: none;
    }
  }
  .menu {
    visibility: hidden;
    opacity: 0;
    &__item {
      text-align: center;
      padding: 5px 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {

  }
}

@media screen and (min-width: 1024px) {
  .c-menu {
    display: flex;
    justify-content: flex-start;
    &_header {

    }

    &_footer {
      display: flex;
      padding-bottom: 20px;
    }
  }
  .menu {
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0;

    display: flex;
    &__item {
      padding: 0 5px;
    }
    &__link {
      padding: 0 20px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .c-menu {
    &_header {

    }

    &_footer {
      padding-bottom: 20px;
    }
  }
  .menu {
    display: flex;
    &__link {
      padding: 0 20px;
    }
  }
}

@media screen and (min-width: 1900px) {
  .c-menu {
    &_header {

    }

    &_footer {
      padding-bottom: 20px;
    }
  }
  .menu {
    display: flex;
    &__link {
      padding: 0 30px;
    }
  }
}