.footer {
  background: $blue-light;
  padding: 20px 0;
}

.w-footer {
  display: flex;
  align-items: center;
}

.copyright {
  font-family: BigJohn;
  font-size: 18px;
  color: $black;
}

@media screen and (min-width: 320px) {
  .copyright {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .copyright {
    text-align: left;
  }
  .w-footer {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .w-footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}