.header {
  background: $yellow;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: padding-top .5s, padding-bottom .5s linear;
  padding: 20px 0;
  &_active {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
  }
}
.w-button {
  &_header {
    padding: 0 10px;
  }
}
@media screen and (min-width: 320px){
  .header {
    height: 48px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

  }
  .w-button {
    &_header {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {

  }
  .w-button {
    &_header {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 20px 0;
    height: auto;
    box-shadow: none;

  }
  .w-button {
    &_header {
      display: none;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 30px 0;
  }
  .w-button {
    &_header {
      display: none;
    }
  }
}

@media screen and (min-width: 1900px) {
  .header {
    padding: 60px 0;
  }
  .w-button {
    &_header {
      display: none;
    }
  }
}