.section {
  &__home {
    background: $yellow;
  }
}

@media screen and (min-width: 320px) {
  .section {
    &__home {
      padding-top: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .section {
    &__home {

    }
  }
}

@media screen and (min-width: 1024px) {
  .section {
    &__home {
      padding-top: 240px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .section {
    &__home {
      padding-top: 200px;
    }
  }
}

@media screen and (min-width: 1900px) {
  .section {
    &__home {
      padding-top: 240px;
    }
  }
}